<script>document.getElementById("adminmenu").innerHTML = "<a class='nav-link' routerLink='/admin' routerLinkActive='activebutton'>Aminisztráció</a>";</script>

<div style="margin: 3%">
  <div class="card-deck">
    <div class="card mb-4 text-center" *ngFor="let product of products">
      <img class="card-img-top img-fluid" [src]="product.img_name" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.price }} Ft</p>
        <button type="button" class="btn btn-outline-secondary" (click)="addCart(product)" data-toggle="modal"
          data-target="#myModal">Kosárba</button>
      </div>
    </div>

  </div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <img src="assets/img/modal.png" alt="image" class="col-4">
          <div class="col-8" style="align-self: center">
            <p class="center">Sikeresen kosárba helyezted a terméket!</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" style="float: right;">Ok</button>
      </div>


    </div>
  </div>
</div>
