<div class="card-deck">
  <div class="card mb-4 text-center" *ngFor="let product of products">
    <img class="card-img-top img-fluid" [src]="product.img_name" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">{{ product.price }} Ft</p>
      <button type="button" class="btn btn-primary" (click)="addCart(product)" data-toggle="modal"
        data-target="#myModal">Kosárba</button>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none">
      <!-- wrap every 2 on sm-->
    </div>

  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <img src="assets/img/modal.png" alt="image" class="col-4">
          <p class="col-8">Sikeresen kosárba helyezted a terméket!</p>
          <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>

      <!-- Modal footer -->



    </div>
  </div>
</div>
