<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th class="text-align: right">Termék</th>
      <th class="text-align: right">Leírás</th>
      <th class="text-align: left">Ára</th>
      <th class="text-align: left">Mennyiség</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="float: right"><img [src]="product.img_name" alt="image"></td>
      <td class="text-align: center">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="neve" id="neve" aria-label="Default" [value]=" product.name">

        </div>
      </td>
      <td class="text-align: center">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="leiras" id="leiras" aria-label="Default"
            [value]=" product.description">

        </div>
      </td>
      <td>

        <div class="input-group mb-3">
          <input type="number" name="ft" id="ft" class="form-control" [value]="product.price">
          <div class="input-group-append">
            <span class="input-group-text">Ft</span>
          </div>
        </div>
      </td>
      <td class="float: right">
        <div class="input-group mb-3">
          <input type="number" name="db" id="db" class="form-control" [value]="product.quantity">
          <div class="input-group-append">
            <span class="input-group-text">db</span>
          </div>
        </div>
      </td>

      <td><button type="button" class="btn-close" (click)="remove(product)" aria-label="Close"></button></td>
    </tr>
  </tbody>


</table>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <section class="order-form my-4 mx-4">
        <div class="container pt-4">

          <div class="row">
            <div class="col-12">
              <h1 style="  text-align: center">Megrendelés</h1>
              <hr class="mt-1">
            </div>
            <div class="col-12">

              <div class="row mx-4">
                <div class="col-12 mb-2">
                  <label class="order-form-label">Név</label>
                </div>
                <div class="col-12 col-sm-6">
                  <input class="order-form-input" placeholder="Vezetéknév">
                </div>
                <div class="col-12 col-sm-6 mt-2 mt-sm-0">
                  <input class="order-form-input" placeholder="Keresztnév">
                </div>
              </div>


              <div class="row mt-3 mx-4">
                <div class="col-12">
                  <label class="order-form-label">Szállítási cím</label>
                </div>
                <div class="col-12">
                  <input class="order-form-input" placeholder="Utca">
                </div>
                <div class="col-12 mt-2">
                  <input class="order-form-input" placeholder="emelet, lépcsőház, lakás, stb.                  ">
                </div>
                <div class="col-12 col-sm-6 mt-2 pr-sm-2">
                  <input class="order-form-input" placeholder="Város">
                </div>

                <div class="col-12 col-sm-6 mt-2 pr-sm-2">
                  <input class="order-form-input" placeholder="Irányítószám">
                </div>

              </div>


              <div class="row mt-3" style="text-align: center">
                <div class="col-12" style="text-align: center">
                  <div class="btn-group" role="group" style="text-align: center">
                    <button type="button" id="btnSubmit" class="btn btn-outline-danger"
                      data-dismiss="modal">Mégsem</button>
                    <button type="button" id="btnSubmit" class="btn btn-outline-success"
                      data-dismiss="modal">Jóváhagyás</button>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
