<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th class="text-align: right">Termék</th>
      <th class="text-align: left">Ára</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="float: right"><img [src]="product.img_name" alt="image"></td>
      <td class="text-align: center">{{ product.name }}</td>
      <td><button type="button" class="btn-close" (click)="removeFromCart(product)" aria-label="Remove"></button></td>
    </tr>
  </tbody>
  <p><strong>Fizetendő: {{ sum }}Ft</strong></p>

</table>
